@model IEnumerable<APSS.Web.Dtos.LandProductDto>

@await Html.PartialAsync("_dataNavBar")
<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row  justify-content-between mb-3 ">
        <div class="col-sm-6">

            <div class="input-group ">

                <span style="height:20px">
                    <a href="#" class="input-group-text text-decoration-none" style="background-color:#1B73B3">

                        <i class="fal fa-search " style="color:white;"></i>
                    </a>
                </span>
                <span class="form-outline " style="width:83%;padding-top:0px">
                    <input type="search" class="form-control" id="search" onkeyup="searchTable()">
                    <label class="form-label">بحث ...</label>
                </span>
            </div>
        </div>
        <div class="col-sm-2  ">

            <select class="form-select " id="searchby">
                <option selected>بحث عن طريق </option>
                <option value="1">@Html.DisplayNameFor(n => n.CropName)</option>
                <option value="2">@Html.DisplayNameFor(i => i.Id)</option>
                <option value="3">@Html.DisplayNameFor(a => a.Category)</option>
            </select>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header">
                        <th style="width:10%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(i => i.Id)</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(n => n.CropName)</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(h => h.HarvestStart)</th>
                        <th style="width:20%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(h => h.HarvestEnd)</th>
                        <th style="width:5%;" class=" text-capitalize align-middle">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model!)
                    {
                        <tr>

                            <td class="text-break text-capitalize align-middle">@item.Id</td>
                            <td class="text-break text-capitalize align-middle">@item.CropName</td>
                            <td class="text-break text-capitalize align-middle">@item.HarvestStart</td>
                            <td class="text-break text-capitalize align-middle">@item.HarvestEnd </td>
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Details" asp-route-id="@item.Id"><div class="d-flex justify-content-between"><i class="fa-solid fa-info"></i> التفاصيل </div></a></li>
                                        <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Update" asp-route-id="@item.Id"><div class="d-flex justify-content-between"><i class="fa-solid fa-pen-to-square mx-2"></i> تعديل </div></a></li>
                                        <li><a class="dropdown-item" asp-controller="LandProductExpense" asp-action="add" asp-route-id="@item.Id"><div class="d-flex justify-content-between"><i class="fa-solid fa-plus mx-2"></i>إضافة تكلفة  </div></a></li>
                                        <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Delete" asp-route-id="@item.Id"><div class="d-flex justify-content-between"><i class="fa-solid fa-trash-can mx-2"></i> حذف </div></a></li>
                                        <li><a class="dropdown-item" href="#">تفعيل /إلغاء</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section scripts{
<script>
     document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";
       $("#animalGroups").removeClass('actives');
    $("#animalProducts").removeClass('actives');
    $("#lands").removeClass('actives');
    $("#landProducts").addClass('actives');
</script>
}