@model APSS.Web.Dtos.AnimalProductDto
@{
    ViewData["Title"] = "Animal Product Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>Animal Product information </h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Quantity)</th>
                    <td> @Model.Quantity</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.PeriodTaken)</th>
                    <td> @Model.PeriodTaken</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <a class="btn btn-outline-dark   mx-1 my-2" asp-controller="AnimalProduct" asp-action="Index"><i class="fa-solid fa-arrow-right mx-2"></i><span>Back</span>  </a>
            <a class="btn btn-outline-primary   mx-1 my-2" asp-controller="ProductExpense" asp-action="AddExpense"><i class="fa-solid fa-plus mx-2"></i><span>Add Expense </span> </a>
            <a class="btn btn-outline-primary   mx-1 my-2" asp-route-id="@Model.Id" asp-controller="ProductExpense" asp-action="Index"><i class=""></i><span>  All Expense </span> </a>
            <a class="btn btn-outline-primary  mx-1 my-2" asp-route-Id="@Model.Id" asp-controller="AnimalProduct" asp-action="EditAnimalProduct"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>Edit</span> </a>
            <a class="btn btn-outline-danger  mx-1 my-2" asp-route-Id="@Model.Id" asp-controller="AnimalProduct" asp-action="DeleteAnimalProduct"> <i class="fa-solid fa-trash-can mx-2"></i><span>Delete</span>  </a>
        </div>
    </div>
</div>

@*@await Html.PartialAsync("_CreateProductExpense.cshtml")*@