@model APSS.Web.Dtos.SurveyEntryDetailsDto

<div class="card mt-2">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex ">

            <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>Survey Entry Information </h3>
        </div>
        <table class="table user-view-table m-0 t ">
            <tbody>
                <tr class="">
                    <td class="label"><label>@Html.DisplayNameFor(m => m.Id)</label></td>
                    <td>@Model.Id </td>
                </tr>
                <tr>
                    <td> <label>@Html.DisplayNameFor(m => m.Survey);</label></td>
                    <td>@Model.Survey.Name  </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.MadeBy)</label>  </td>
                    <td> @Model.MadeBy.Name </td>
                </tr>
                  @foreach (var question in Model.Survey.Questions)
                {
                    <tr>
                        <td>@question.Text.ToString()</td>
                       <td>@Model.Answers.Where(a=>a.Question.Id==question.Id).Select(a=>a.Answer).ToString()</td>
                    </tr>
                }
                
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.CreatedAt)</label>  </td>
                    <td>
                        @Model.CreatedAt
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.ModifiedAt)</label>  </td>
                    <td>
                        @Model.ModifiedAt
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <a class="btn btn-outline-dark mx-1 my-2" onclick="history.go(-1)"> <i class="fa-solid fa-arrow-right mx-2"> </i><span>Back</span> </a>
        </div>
    </div>
</div>

