@using APSS.Web.Dtos
@model APSS.Web.Dtos.SurveyEntryDetailsDto;
@{
    ViewData["Title"] = " ";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات الإستبيان</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                  <tr class="">
                      <th>@Html.DisplayNameFor(s=>s.Id)</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(s=>s.Survey.Name)</th>
                    <td> @Model.Survey.Name</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(s=>s.MadeBy.Name)</th>
                    <td>@Model.MadeBy.Name</td>
                </tr>
                @foreach (var question in Model.Survey.Questions)
                {
                    <tr>
                        <td>@question.Text.ToString()</td>
                       <td>@Model.Answers.Where(a=>a.Question.Id==question.Id).Select(a=>a.Answer).ToString()</td>
                    </tr>
                    
                }
                 <tr>
                    <th> @Html.DisplayNameFor(s=>s.CreatedAt)</th>
                    <td>  @Model.CreatedAt</td>
                </tr>
                 <tr>
                    <th>@Html.DisplayNameFor(s=>s.ModifiedAt) </th>
                    <td>@Model.ModifiedAt </td>
                </tr>
              
            </tbody>
        </table>
        
         <div cllass="d-inline pt-2">
            <a class="btn btn-primary-danger btn-rounded  text-primary mx-1 pr-1 my-2 " asp-controller="Survey" asp-action="UpdateSurvey" > <i class="fa-solid fa-pen-to-square mx-1 "> </i><span>تعديل</span> </a>
            <a class="btn  btn-link-danger btn-rounded text-danger mx-1 my-2 " asp-controller="Survey" asp-action="ConfirmDeleteSurvey" > <i class="fa-solid fa-trash-can mx-1"></i><span>حذف</span>  </a>
            <a  class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="Question" asp-action="AddQuestion" ><i class="fa-solid fa-plus mx-1 lg"></i><span class="">إضافة سؤال </span> </a>
            <a  class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="Survey" asp-action="GetQuestion"><i class="fa-solid fa-angle-down mx-1 lg"></i><span class="">الأسئلة </span> </a>
            <a  class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="SurveyEntry" asp-action="GetSurveyEntries" ><i class="fa-solid fa-angle-down mx-1 lg"></i><span class=""> الإستبيانات المعباة </span> </a>
            <a  class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1 " asp-controller="" asp-action=""><i class="fa-solid fa-share px-1"></i><span class="">رجوع </span> </a>
        </div>
    </div>
    <hr class="border-light m-0">
</div>