@model APSS.Web.Dtos.AnimalProductUnitDto

<div class="card my-3 shadow-0 p-2 ">
    <div class="card-body ">
        <div class="d-flex justify-content-start">
            <i class="fa-solid fa-caret-left fs-1 rotation-x" style="padding-left:2px"></i> <h4 class="rotation-x">Confirm Delete Unit </h4>
        </div>
        <table class="table user-view-table m-0 ">
            <tbody>
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Id)</th>
                    <td>  @Model.Id </td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(m=>m.Name) </th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.CreatedAt)  </th>
                    <td>@Model.CreatedAt</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.ModifiedAt) </th>
                    <td>@Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mx-4">
        <div class="d-inline  ">
            <a class="btn btn-danger mx-1" asp-controller="Units" asp-action="ConfirmDeleteUnit"> <span> Confirm </span> </a>
            <a onClick="history.go(-1); return false;" class="btn btn-link   mx-2" style="background-color:#DCEEFB">Cancel</a>
        </div>
    </div>
</div>