@model CrudViewModel<UserDto>

<!--the main account view-->
<div class="table-rsponsive">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>@Icon.Hashtag.Render()</th>
                <th>@Html.DisplayNameFor(m => m.First().Name)</th>
                <th>@Html.DisplayNameFor(m => m.First().AccessLevel)</th>
                <th>@Html.DisplayNameFor(m => m.First().CreatedAt)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="@(item.UserStatus == UserStatus.Inactive ? "bg-warning" : item.UserStatus == UserStatus.Terminated ? "bg-danger" : string.Empty)">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.AccessLevel</td>
                    <td>@item.CreatedAt</td>

                    <td class="align-middle center">
                        <div class=" dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                @Icon.Bars.Render()
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Users.Users.Details)/@item.Id">
                                        Details @Icon.Info.Render()
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Users.Users.Delete)/@item.Id">
                                        Delete @Icon.TrashCan.Render()
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Users.Users.Update)/@item.Id">
                                        Update @Icon.Pen.Render()
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Users.Accounts)/@item.Id">
                                        Manage Accounts @Icon.UsersGear.Render()
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex justified-content-between" href="@(Routes.Dashboard.Users.Accounts.Add)/@item.Id">
                                        <span>Add Account</span>  <span>@Icon.UserPlus.Render()</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="Layout/Paginator" model="@Model.Params.Page" />