                

@model List<string>
<div class="row d-flex justify-content-between">
                    <div class="col-sm-6">
                        <h5>@Model[0]</h5>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model[1]</p>
                    </div>
                    <div class="col-sm-6">
                        <h5>@Model[2]</h5>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model[3]</p>
                    </div>
                    <div class="col-sm-6">
                        <h5>@Model[4]</h5>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model[5]</p>
                    </div>
                </div>