@model FamilyDto

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex"><h5> Confirm Delete of Family </h5> </div>
        <table class="table user-view-table m-0">
            <tbody style="font-size:14px">
                <tr class="">
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Id)</th>
                    <td> @Model.Id</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.LivingLocation)</th>
                    <td> @Model.LivingLocation</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <form method="post">
            <button type="submit"  class="btn btn-danger" action="@Routes.Dashboard.Population.Families.Delete.FullPath">Confirm</button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>
            </form>
        </div>
    </div>
</div>