
@model IEnumerable<FamilyIndividualGetDto>



    <div class="table-rsponsive">

            <table class="table table-hover table-responsive table-bordered table-striped" id="sortTable">

            <thead class="table-light">
                <tr class="header  bg-fixed " style="border-bottom:2px #5C5C5C solid;">
                    <th class=" fw-bold align-middle">@Html.DisplayNameFor(f=>f.Id)</th>
                    <th  class="fw-bold  align-middle">@Html.DisplayNameFor(f=>f.NameFamily) </th>
                    <th  class="fw-bold  align-middle">@Html.DisplayNameFor(f=>f.NameIndividual) </th>
                    <th  class="fw-bold  align-middle">@Html.DisplayNameFor(f=>f.IsParent) </th>
                    <th  class="fw-bold  align-middle">@Html.DisplayNameFor(f=>f.IsProvider) </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr >
                        <td>@item.Id</td>
                        <td>@item.NameFamily</td>
                        <td>@item.NameIndividual</td>
                        <td>@item.IsParent</td>
                        <td>@item.IsProvider</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
