@{
    var currentDashboardRoute = Context.GetCurrentDashboardRoute()!;
    var currentRoute = Context.GetCurrentRoute();

    var subRoutes = currentDashboardRoute.Children
        .Where(r => r.IsNavigatable)
        .Prepend(currentDashboardRoute.DefaultRoute)
        .ToHashSet();

    var selectedRoute = subRoutes
        .OrderByDescending(r => r.FullPath.Length)
        .First(r => currentRoute.FullPath.StartsWith(r.FullPath));
}

<nav class="d-flex py-3 ps-2">
    <h1 class="flex-fill fw-light">@(currentDashboardRoute?.Name ?? "Unknown")</h1>
    <div class="dropstart p-2 bg-super-light">
        <button class="btn btn-light dropdown-toggle rounded-pill border border-1" id="userDropDownButton" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <span class="ps-2 d-none d-md-inline-block">@User.GetHolderName()</span>
            <img src="~/resources/user.jpg" alt="" width="32" height="32" class="rounded-circle" />
        </button>
        <ul class="dropdown-menu shadow" aria-labelledby="userDropDown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" asp-route-id="@User.GetAccountId()" asp-controller="Accounts" asp-action="AccountDetails">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="@(Routes.Auth.SignOut.FullPath)">Sign out</a></li>
        </ul>
    </div>
</nav>

@if (currentRoute is not null)
{
<nav aria-label="breadcrumb p-1 bg-secondary">
    <ol class="breadcrumb">

        @foreach (var route in currentRoute!.Heirarchy.Skip(1).Reverse().Skip(1))
        {
            <li class="breadcrumb-item"><a href="@route.FullPath">@route.Name</a></li>
        }

        <li class="breadcrumb-item active" aria-current="page">@currentRoute!.Name</li>
    </ol>
</nav>
}


@if (subRoutes.Count > 1)
{
    <ul class="nav nav-tabs">
        @foreach (var route in subRoutes)
        {
            <li class="nav-item">
                <a class="nav-link @(selectedRoute == route ? "active" : "")" href="@route.FullPath">
                    @route.Name
                </a>
            </li>
        }
    </ul>
}