@{
    var currentDashboardRoute = Context.GetCurrentDashboardRoute();
}

<ul class="nav nav-pills flex-column mb-auto text-success">
    @foreach (var route in Routes.Dashboard.Children)
    {
        <li class="nav-item">
            <a href="@route.DefaultRoute.FullPath" class="nav-link py-3 @(route.Name == currentDashboardRoute?.Name ? "active" : "")">
                @route.Icon.Render(additionalClasses: "mx-2")
                @route.Name
            </a>
        </li>
    }
</ul>
<hr>
<ul class="nav nav-pills flex-column">
    @for (int i = 0; i < 4; ++i)
    {
        <li class="nav-item">
            <a href="#" class="nav-link" aria-current="page">
                @Icon.Link.Render(additionalClasses: "mx-2") Other System #@(i + 1)
            </a>
        </li>
    }
</ul>
