@model APSS.Web.Dtos.ProductExpenseDto

<div class="card mt-2">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex ">

            <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>Product Expanse Info</h3>
        </div>
        <table class="table user-view-table m-0 t ">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(i => i.Id)</td>
                    <td>@Model?.Id</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(t => t.Type)</td>
                    <td>@Model?.Type</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(p => p.Price)</td>
                    <td>@Model?.Price</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(c => c.CreatedAt)</td>
                    <td>@Model?.CreatedAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.ModifiedAt)</td>
                    <td>@Model?.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <a class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="LandProductExpense" asp-action="Index" asp-route-Id="@Model?.Id"> <i class="fa-solid fa-share mx-2"></i><span> Back </span> </a>
            <a class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-route-Id="@Model?.Id" asp-controller="LandProductExpense" asp-action="Update"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>Update</span> </a>
            <a class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="LandProductExpense" asp-action="Delete" asp-route-id="@Model?.Id"> <i class="fa-solid fa-trash-can mx-2"></i><span>Delete</span>  </a>
        </div>
    </div>
</div>