@model IEnumerable<APSS.Web.Dtos.ProductExpenseDto>
<div class="   p-2  col-ms-12  my-0 mt-2  rounded ml-2 needs-validation " id="table">
    <div class="col-sm-12  ">
        <div class="row d-flex justify-content-betweent">
            <div class=""> <h2 class="fw-light">All Product Expense</h2></div>
        </div>
        <div class=" mt-3  table-rsponsive mb-3  table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar" id="">
            <table class="table" id="myTable">

                <thead>
                    <tr class="header  bg-fixed " style="border-bottom:2px #5C5C5C solid;">
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(i => i.Id)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(t => t.Type)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.Price)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.CreatedAt)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.ModifiedAt)</th>
                        <th style="width:20px;" class="fw-bold align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model!)
                    {
                        <tr>
                            <td class="text-break">@item.Id</td>
                            <td class="text-break">@item.Type</td>
                            <td class="text-break">@item.Price</td>
                            <td class="text-break">@item.CreatedAt</td>
                            <td class="text-break">@item.ModifiedAt</td>
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        @Icon.Bars.Render()
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@(Routes.Dashboard.Animals.Expense.Update)?id=@item.Id"><div class="d-flex justify-content-between"> <span>Update</span>  <span><i class="fa-solid fa-pen-to-square mx-1"></i> </span> </div></a></li>
                                        <li><a class="dropdown-item cursor-wait" onclick="showDeletionModal('Are you sure you want to delete Expense `@item.Type`?', @item.Id)"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>