@model APSS.Web.Dtos.UserDto
@await Html.PartialAsync("_accountNavBar")
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>تأكيد حذف المستخدم</h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.AccessLevel)</th>
                    <td> @Model.AccessLevel</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger   " asp-controller="Users" asp-action="ConfirmDeleteUser">تأكيد</a>
            <a onClick="history.go(-1); return false;" class="btn btn-link   mx-2" style="background-color:#DCEEFB">الغاء</a>
        </div>

        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });

     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
    document.getElementById("media-system-name").innerHTML="ادارة الموظفين";
    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#accounts").addClass('actives');

    });
    $(".scrollmenu ul li a").on('click',function(){
        $(".scrollmenu ul li a.actives").removeClass('actives');
        $("#accounts").addClass('actives');
    });
    $("#userMedia").addClass("actives")
</script>
}