@model APSS.Web.Dtos.UserDto
@await Html.PartialAsync("_accountNavBar")
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3> معلومات المنطقة</h3></div>
        <table class="table user-view-table m-0 ">
            <tbody>
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Name) </th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(m=>m.CreatedAt) </th>
                    <td>@Model.CreatedAt</td>
                </tr>
                <tr>
                    <th> @Html.DisplayNameFor(m=>m.ModifiedAt) </th>
                    <td>@Model.ModifiedAt</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.userStatus)  </th>
                    <td><span class="fa fa-check text-primary"></span>@Model.userStatus</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.AccessLevel) </th>
                    <td>@Model.AccessLevel</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        @* <table class="table card-table m-0">
            <tbody>
            <tr style="border-top:1px rgb(87, 84, 84) solid ;">
            <th>الحسابات الصلاحيات</th>
            <th>القراة</th>
            <th>الكتابة</th>
            <th>الاضافة</th>
            <th>الحذف</th>
            </tr>
            <tr>
            <td>اسم </td>
            <td><span class="fa fa-check text-primary"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            </tr>
            <tr>
            <td>اسم </td>
            <td><span class="fa fa-check text-primary"></span></td>
            <td><span class="fa fa-check text-primary"></span></td>
            <td><span class="fa fa-check text-primary"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            </tr>
            <tr>
            <td>اسم </td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            </tr>
            <tr>
            <td>
            (-----)
            </td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            <td><span class="fa fa-times text-light"></span></td>
            </tr>
            </tbody>
            </table>*@
        <div cllass="d-inline ">
            <div class="mx-lg-4 mx-sm-2 my-4">
                <a class="btn btn-outline-dark  mx-1 my-2  " asp-controller="Users" asp-action="Index"> <i class="fa-solid fa-arrow-right fa-1 mx-2 "> </i><span>رجوع</span> </a>
                <a class="btn btn-outline-primary  mx-1   my-2" asp-route-id="@Model.Id" asp-controller="Users" asp-action="EditUser"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </a>
                <a class="btn btn-outline-danger  mx-1  my-2" asp-route-id="@Model.Id" asp-controller="Users" asp-action="DeleteUser"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </a>
                <a class="btn btn-outline-primary  mx-1  my-2" asp-route-id="@Model.Id" asp-controller="Accounts" asp-action="UserAccounts"> <i class="fa-solid fa-users mx-2"></i><span>الموظفين </span>  </a>
            </div>
        </div>
    </div>
</div>