@model APSS.Web.Dtos.AnimalGroupAndProductDto
@{
    ViewData["Title"] = "Animal Details";
}

<div class="card mt-2">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex ">

            <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>معلومات الحيوان</h3>
        </div>
        <table class="table user-view-table m-0 t ">
            <tbody>
                <tr class="">
                    <td class="label"><label>@Html.DisplayNameFor(m => m.AnimalGroup.Type)</label></td>
                    <td> دغاغة</td>
                </tr>
                <tr>
                    <td> <label>@Html.DisplayNameFor(m => m.AnimalGroup.Quantity);</label></td>
                    <td>12 </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.AnimalGroup.Sex)</label>  </td>
                    <td> --</td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.AnimalGroup.CreatedAt)</label>  </td>
                    <td>
                        @{
                            DateTime date = new DateTime();
                        } @date
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(m => m.AnimalGroup.ModifiedAt)</label>  </td>
                    <td>
                        @date
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <a id="III" class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1 " asp-controller="AnimalGroup" asp-action="Index"><i class="fa-solid fa-angle px-1"></i><span class="">رجوع </span> </a>
            <a class="btn btn-primary-danger btn-rounded  text-primary mx-1 pr-1 my-2 " asp-controller="AnimalGroup" asp-action="EditAnimalGroup"> <i class="fa-solid fa-pen-to-square mx-1 "> </i><span>تعديل</span> </a>
            <a class="btn  btn-link-danger btn-rounded text-danger mx-1 my-2 " asp-controller="AnimalGroup" asp-action="DeleteAnimalGroup" asp-route-Id="@Model.AnimalGroup.Id"> <i class="fa-solid fa-trash-can mx-1"></i><span>حذف</span>  </a>
            <a id="III" class="btn btn-primary-danger btn-rounded  my-2 bg-white text-dark text-decoration-none mx-1" asp-controller="AnimalProduct" asp-action="AllAnimalProducts"><i class="fa-solid fa-angle-down"></i><span class="">المنتجات </span> </a>
        </div>
    </div>
</div>