@model APSS.Web.Dtos.AnimalGroupDto
@await Html.PartialAsync("_dataNavBar")
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>Confirm Delete Animal  </h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Type)</th>
                    <td> @Model.Type</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Quantity)</th>
                    <td> @Model.Quantity</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Sex)</th>
                    <td> @Model.Sex</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger btn-rounded  " asp-route-Id="@Model.Id" asp-controller="AnimalGroup" asp-action="ConfirmDeleteAnimalGroup">Confirm</a>
            <a onClick="history.go(-1); return false;" class="btn btn-link my-4  mx-3" style="background-color:#DCEEFB">Cancel</a>
        </div>

        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
</div>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
    document.getElementById("media-system-name").innerHTML=" ادارة الموظفين";

       $("#animalProducts").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
       $("#animalGroups").addClass('actives');
</script>
    }