@model APSS.Web.Dtos.AccountDto
 @await Html.PartialAsync("_requiredStyle.cshtml")
<div class="row col-sm-12 col-lg-8 d-flex mx-sm-2   p-3">
    <form class=" mt-2 needs-validation" method="post" asp-controller="Accounts" asp-action="AddAccount" novalidate>
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="UserId" />
        <!-- 2 column puts for the National number and Phome Number-->
        <div class="center d-flex  mb-2 ">
            <h3 class="text-muted">
                Add New Employee
            </h3>
        </div>

        <!-- Text input for account name-->

        <div class=" mt-4 input-group has-validation">
            <span class="input-group-text">
                <i class="fa-solid fa-user"></i>
            </span>
            <div class="form-floating flex-grow-1 ">
                <input type="text" id="account-name" asp-for="HolderName" placeholder="Holder Name" aria-describedby="holderName" class="form-control " required />
                <label class="form-label" asp-for="HolderName"></label>
            </div>
            <span class="d-block invalid-feedback" id="holderName" asp-validation-for="HolderName"></span>
        </div>

        <div class=" mt-4  input-group has-validation">
            <span class="input-group-text">
                <i class="fa-solid fa-key"></i>
            </span>
            <div class="form-floating flex-grow-1">
                <input type="password" id="id_password" asp-for="PasswordHash" placeholder="Password" aria-describledby="Password" class="form-control " />
                <label class="form-label" asp-for="PasswordHash"></label>
            </div>
            <div class="input-group-text"><i class="far fa-eye" id="togglePassword" style=" cursor: pointer;"></i></div>
            <span class="d-block invalid-feedback" id="Password" asp-validation-for="PasswordHash"></span>
        </div>
        <div class="mb-1 mt-3">
            <h5>
                @Html.DisplayNameFor(m=>m.permissionType)
            </h5>
        </div>
        <div class=" mb-3 ">
            <div class="input-group d-flex justify-content-between">
                <div class="form-check  ">
                    <input class="form-check-input " type="checkbox" asp-for="PermissionTypeDto.Read" id="" value="true" checked />
                    <label class="form-check-label" asp-for="@Model.PermissionTypeDto.Read"></label>
                </div>
                <div class="form-check  ">
                    <input class="form-check-input " type="checkbox" asp-for="PermissionTypeDto.Create" id="" value="true" />
                    <label class="form-check-label" asp-for="@Model.PermissionTypeDto.Create"></label>
                </div>
                <div class="form-check  ">
                    <input class="form-check-input " type="checkbox" asp-for="PermissionTypeDto.Update" id="" value="true" />
                    <label class="form-check-label" asp-for="@Model.PermissionTypeDto.Update"></label>
                </div>
                <div class="form-check  ">
                    <input class="form-check-input " type="checkbox" asp-for="PermissionTypeDto.Delete" id="" value="true" />
                    <label class="form-check-label" asp-for="@Model.PermissionTypeDto.Delete"></label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start col">
            <h5>Employee status </h5>
        </div>
        <div class="form-check form-check-inline mx-3 ">
            <input class="form-check-input" type="checkbox" value="true" id="delete" asp-for="IsActive" />
            <label class="form-check-label" asp-for="IsActive"> </label>
        </div>
        <div>
            <div class="row d-flex justify-content-end">
                <!-- Submit b        utton -->
                <a onClick="history.go(-1); return false;" class="btn btn-link w-25 mt-4 mx-3" style="background-color:#DCEEFB"> Cancel</a>
                <button type="submit" class="btn btn-primary w-25  mt-4">Add        </button>
            </div>
        </div>
    </form>
</div>
@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
      document.getElementById("media-system-name").innerHTML="ادارة الموظفين";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
        $("#userMedia").removeClass('actives');
         $("#accounts").addClass('actives');
         $("#accountMedia").addClass('actives');
</script>
    }