@model CrudViewModel<AccountDto>

<!--the main account view-->
<div class="table-rsponsive">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>@Icon.Hashtag.Render()</th>
                <th>@Html.DisplayNameFor(m => m.First().HolderName)</th>
                <th>@Html.DisplayNameFor(m => m.First().PhoneNumber)</th>
                <th>@Html.DisplayNameFor(m => m.First().NationalId)</th>
                <th>@Html.DisplayNameFor(m => m.First().Job)</th>
                <th>@Html.DisplayNameFor(m => m.First().SocialStatus)</th>
                <th>@Html.DisplayNameFor(m => m.First().CreatedAt)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="@(item.IsActive ? string.Empty : "bg-warning")">
                    <td>@item.Id</td>
                    <td>@item.HolderName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.NationalId</td>
                    <td>@item.Job</td>
                    <td>@item.SocialStatus</td>
                    <td>@item.CreatedAt</td>

                    <td class="align-middle center">
                        <div class=" dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                @Icon.Bars.Render()
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item justified-content-between" href="@(Routes.Dashboard.Users.Accounts.Details)?id=@item.Id">
                                        Details @Icon.Info.Render()
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item justified-content-between" onclick="showDeletionModal('Are you sure you want to delete account `@item.HolderName`?', @item.Id)">
                                        Delete @Icon.TrashCan.Render()
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item justified-content-between" href="@(Routes.Dashboard.Users.Accounts.Update)?id=@item.Id">
                                        Update @Icon.Pen.Render()
                                    </a>
                                </li>
                                <li class="s003"></li>
                                @if (item.User.AccessLevel == AccessLevel.Farmer)
                                {
                                    <li>
                                        <a class="dropdown-item justified-content-between" href="@(Routes.Dashboard.Animals.Groups.GetAll)?id=@item.Id">
                                            Animals @Icon.Cow.Render()
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="Layout/Paginator" model="@Model.Params.Page" />

@await Html.DeleteDialogAsync()