@model IEnumerable<APSS.Domain.Entities.Account>

@await Html.PartialAsync("_requiredStyle.cshtml")
<div class="container-fluid  border p-2  col-ms-12  my-0 mt-2  rounded ml-2 animal-table" id="">
    <form class="row d-flex justify-content-start d-inline mb-3 " method="post" asp-controller="Accounts" asp-action="Index">
        <div class=" mb-2 col-sm col-lg-6   d-flex">
            <div class="input-group">
                <button type="submit" class="btn btn-primary " asp-action="Index">
                    <i class="fas fa-search"></i>
                </button>
                <input type="search" class="form-control" id="search" name="searchString" onkeyup="searchTable()" placeholder="Search..." />
            </div>
        </div>
        <div class="col-sm col-lg-2 mb-2 ">

            <select class="form-select " id="searchby" name="searchBy">
                <option selected> Searhc By</option>
                <option value="1">Name</option>
                <option value="2">Id</option>
                <option value="3">Phone Number </option>
                <option value="4">National Id </option>
            </select>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class=" my-3 bg-light table-rsponsive  table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered table-striped   mb-0 " id="myTable">

                <thead>
                    <tr class="header  bg-fixed border border-bottom fw-bold">
                        <th class=" fw-bold align-middle">#</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.HolderName)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.User.AccessLevel)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.NationalId)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.Job)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.IsActive)</th>
                        <th style="width:20px" class="fw-bold align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="align-top bg-white">

                            <td class="text-break text-capitalize ">@item.Id</td>
                            <td class="text-break text-capitalize "> @item.HolderName</td>
                            <td class="text-break text-capitalize ">@item.User.AccessLevel</td>
                            <td class="text-break text-capitalize ">  @item.NationalId</td>
                            <td class="text-break text-capitalize ">  @item.CreatedAt</td>
                            <td class="text-break text-capitalize   "> @item.Job </td>
                            @{
                                if (@item.IsActive)
                                {
                                    <td class="text-break text-capitalize text-center "> <div class=""><label class="activeLabel bg-success"></label></div> </td>
                                }
                                else
                                {
                                    <td class="text-break text-capitalize text-center "> <div class=""><label class="activeLabel bg-danger"></label></div> </td>
                                }
                            }

                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="AccountDetails"><div class="d-flex justify-content-between"> <span>Details</span>  <span><i class="fa-solid fa-info"></i> </span> </div> </a></li>
                                        <li><a class="dropdown-item btn-link" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="DeleteAccount"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                        <li><a class="dropdown-item btn-link" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="EditAccount"><div class="d-flex justify-content-between"> <span>Eidt</span>  <span><i class="fa-solid fa-pen-to-square"></i> </span> </div></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="container col-sm-12 col-lg-4 col-md-4">
            <ul class="pagination d-flex justify-content-between">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="Employees Management";
      document.getElementById("media-system-name").innerHTML="Employees Management";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
        $("#userMedia").removeClass('actives');
         $("#accounts").addClass('actives');
         $("#accountMedia").addClass('actives');
</script>
}