@model UpdateAccountForm

<form class="container-fluid pt-3 needs-validation" method="post" action="@Routes.Dashboard.Users.Accounts.Update" asp-antiforgery="true" novalidate>
    <input type="hidden" asp-for="Id" />

    <!-- title -->
    <h2 class="mb-4">Edit account</h2>

    <!-- Identification info -->
    <h6>Identification info</h6>
    <div class="row mb-3">
        <!-- Holder name -->
        <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="input-group has-validation">
                <span class="input-group-text">@Icon.Face.Render()</span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Holder name" aria-describedby="holderNameValidation" asp-for="HolderName">
                    <label>Holder name</label>
                </div>
                <span id="holderNameValidation" class="d-block invalid-feedback" asp-validation-for="HolderName"></span>
            </div>
        </div>

        <!-- National ID -->
        <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="input-group has-validation">
                <span class="input-group-text">@Icon.IdCard.Render()</span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Holder name" aria-describedby="nationalIdValidation" asp-for="NationalId">
                    <label>National ID</label>
                </div>
                <span id="nationalIdValidation" class="d-block invalid-feedback" asp-validation-for="NationalId"></span>
            </div>
        </div>
    </div>

    <!-- Identification info -->
    <h6>Personal info</h6>
    <div class="row mb-3">
        <!-- Phone number -->
        <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="input-group has-validation">
                <span class="input-group-text">@Icon.Phone.Render()</span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Phone number" aria-describedby="phoneNumberValidation" asp-for="PhoneNumber">
                    <label>Phone number</label>
                </div>
                <span id="phoneNumberValidation" class="d-block invalid-feedback" asp-validation-for="PhoneNumber"></span>
            </div>
        </div>

        <!-- Job -->
        <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="input-group has-validation">
                <span class="input-group-text">@Icon.Suitcase.Render()</span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Job" aria-describedby="jobValidation" asp-for="Job">
                    <label>Job</label>
                </div>
                <span id="jobValidation" class="d-block invalid-feedback" asp-validation-for="Job"></span>
            </div>
        </div>
    </div>

    <!-- Social status -->
    <h6>@Icon.Book.Render() Social Status</h6>
    <div class="mb-3 d-flex flex-wrap gap-4">
        @foreach (var s in System.Enum.GetValues<SocialStatus>())
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="@(s)Radio" value="@s" asp-for="SocialStatus">
                <label class="form-check-label" for="@(s)Radio" asp-for="SocialStatus">
                    @s
                </label>
            </div>
        }
    </div>

    <!-- Permissions -->
    <h6>@Icon.Key.Render() Permissions</h6>
    <div class="d-flex flex-wrap gap-4 mb-3">
        <!-- Read -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="readCheck" asp-for="Permissions.Read">
            <label class="form-check-label" for="readCheck">Read</label>
        </div>
        <!-- Create -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="createCheck" asp-for="Permissions.Create">
            <label class="form-check-label" for="createCheck">Create</label>
        </div>

        <!-- Update -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="updateCheck" asp-for="Permissions.Update">
            <label class="form-check-label" for="updateCheck">Update</label>
        </div>

        <!-- Delete -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="enabledCheck" asp-for="Permissions.Delete">
            <label class="form-check-label" for="enabledCheck">Delete</label>
        </div>
    </div>

    <!-- Enabled check -->
    <h6>@Icon.UserCheck.Render() Account status</h6>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="enabledCheck" asp-for="IsActive">
        <label class="form-check-label" for="enabledCheck">Enabled</label>
    </div>

    <div class="row my-2">
        <hr class="col-lg-8 col-md-12" />
    </div>

    <!-- actions -->
    <div class="row">
        <div class="d-flex justify-content-between col-lg-8 col-md-12">
            <button class="btn btn-outline-warning" onclick="$('#update-password-modal').modal('show');" type="button">
                @Icon.Lock.Render(additionalClasses: "me-1") UPDATE PASSOWRD
            </button>
            <button class="btn btn-primary" type="submit">@Icon.Floppy.Render(additionalClasses: "me-1") SAVE</button>
        </div>
    </div>

</form>

@await Html.PartialAsync("_UpdatePassword", new UpdatePassowrdForm { Id = Model.Id });