@model IEnumerable<APSS.Web.Dtos.AccountDto>
 @await Html.PartialAsync("_requiredStyle.cshtml")
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex ">
            <a class="btn  btn-link" onclick="history.go(-1)"> <i class="fa-solid fa-arrow-left bg-dark mx-2 fa-2xl"> </i><span></span> </a>
            <h3>  Area Employees   </h3>
        </div>
        <div class=" mt-3 bg-light table-rsponsive mb-3   my-custom-scrollbar">
            <table class="table table-hover table-responsive  table-bordered   table-striped " id="myTable">

                <thead>
                    <tr class="header  bg-fixed border border-bottom fw-bold">
                        <th style="width:8%;" class=" fw-bold align-middle">#</th>
                        <th style="width:30%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.HolderName)</th>
                        <th style="width:20%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.PhoneNumber)</th>
                        <th style="width:30%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.NationalId)</th>
                        <th style="width:0%;" class="fw-bold align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="align-top">
                            <td class="text-break text-capitalize align-middle">@item.Id</td>
                            <td class="text-break text-capitalize align-middle"> @item.HolderName</td>
                            <td class="text-break text-capitalize align-middle">@item.PhoneNumber</td>
                            <td class="text-break text-capitalize align-middle">
                                @item.NationalId
                            </td>
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="AccountDetails"><div class="d-flex justify-content-between"> <span>Details</span>  <span><i class="fa-solid fa-info"></i> </span> </div> </a></li>
                                        <li><a class="dropdown-item btn-link" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="DeleteAccount"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                        <li><a class="dropdown-item btn-link" asp-route-id="@item.Id" asp-controller="Accounts" asp-action="EditAccount"><div class="d-flex justify-content-between"> <span>Eidt</span>  <span><i class="fa-solid fa-pen-to-square"></i> </span> </div></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
        </div>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
      document.getElementById("media-system-name").innerHTML="ادارة الموظفين";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');

         $("#accounts").addClass('actives');
</script>
}