@model APSS.Web.Dtos.AnimalGroupDto

<div class="card mt-2 border-0">
    <div class="card-body">
        <h4 class="" style="line-height:40px !important">Animal Information </h4>
        <table class="table user-view-table m-0 border ">
            <tbody>
                <tr class="">
                    <th class="label"><label>@Html.DisplayNameFor(m => m.Type)</label></th>
                    <td>@Model.Type </td>
                </tr>
                <tr class="">
                    <th class="label"><label>@Html.DisplayNameFor(m => m.Name)</label></th>
                    <td>@Model.Name </td>
                </tr>
                <tr>
                    <th> <label>@Html.DisplayNameFor(m => m.Quantity);</label></th>
                    <td>@Model.Quantity  </td>
                </tr>
                <tr>
                    <th><label>@Html.DisplayNameFor(m => m.Sex)</label>  </th>
                    <td> @Model.Sex </td>
                </tr>
                <tr>
                    <th><label>@Html.DisplayNameFor(m => m.IsConfirmed)</label>  </th>
                    <td> @Model.IsConfirmed </td>
                </tr>
                <tr>
                    <th><label>@Html.DisplayNameFor(m => m.CreatedAt)</label>  </th>
                    <td>
                        @Model.CreatedAt
                    </td>
                </tr>
                <tr>
                    <th><label>@Html.DisplayNameFor(m => m.ModifiedAt)</label>  </th>
                    <td>
                        @Model.ModifiedAt
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between pt-3">
            <div class="d-flex">
                <a id="III" class="btn btn-outline-dark my-2 text-decoration-none mx-1 " asp-controller="Groups" asp-action="Index"><i class="fa-solid fa-arrow-left me-2"></i><span class="">Back </span> </a>
            </div>
            <div>
                <a class="btn btn-outline-primary mx-1 pr-1 my-2" asp-route-id="@Model.Id" asp-controller="Groups" asp-action="Add"> <i class="fa-solid fa-plus me-2 "> </i><span> Add Product</span> </a>
                <a class="btn btn-outline-primary mx-1 pr-1 my-2" asp-route-id="@Model.Id" asp-controller="Groups" asp-action="Edit"> <i class="fa-solid fa-pen-to-square me-2 "> </i><span>Edit</span> </a>
                <a class="btn btn-outline-danger mx-1 my-2 " asp-controller="AnimalGroups" asp-action="Groups" asp-route-Id="@Model.Id"> <i class="fa-solid fa-trash-can me-2"></i><span>Delete</span>  </a>
                <a id="III" class="btn btn-outline-dark my-2 text-decoration-none mx-1" href="@Url.Action("AllProducts","Products",new{id=@Model.Id,userId=@Model.OwnedBy.Id})"><span class="">Products </span> </a>
            </div>
        </div>
    </div>
</div>