@using APSS.Domain.Entities
@model APSS.Web.Dtos.AnimalGroupListDto

<form class="needs-validation form-group" method="post" action="@Routes.Dashboard.Animals.Groups.Update.FullPath" asp-antiforgery="true" novalidate>
    <div class="d-flex mt-5">
    </div>
    <div class="modal fade" id="addAnimalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Update Animal Group</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <!-- User name -->
                    <div class="mb-4">
                        <div class="input-group has-validation">
                            <span class="input-group-text"><i class="fa-solid fa-cow"></i></span>
                            <div class="form-floating col">
                                <input type="text" id="animal_type" asp-for="Type" placeholder="Type" class="form-control" aria-describedby="typevalidation" required />
                                <label class="form-label" asp-for="Type"></label>
                            </div>
                            <span asp-validation-for="Type" id="typevalidation" class="d-block invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group has-validation">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" id="Name" asp-for="Name" class="form-control" aria-describedby="nameValidation" placeholder="Name" required />
                                <label class="form-label" asp-for="Name"></label>
                            </div>
                            <span asp-validation-for="Name" class="d-block invalid-feedback" id="nameValidation"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group has-validation">
                            <span class="input-group-text"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
                            <div class="form-floating flex-grow-1">
                                <input type="number" id="Quentity" asp-for="Quantity" class="form-control" placeholder="quantity" aria-describedby="quantityValidarion" required />
                                <label class="form-label" asp-for="Quantity"></label>
                            </div>
                            <span asp-validation-for="Quantity" id="quantityValidarion" class="d-block invalid-feedback"></span>
                        </div>
                    </div>
                    <!-- Gender input -->
                    <div class=" d-flex justify-content-start d-inline">
                        <div class=" me-2">

                            <h5 class="">
                                @Html.DisplayNameFor(m=>m.Sex):
                            </h5>
                        </div>
                        <div class="d-flex justify-content-start">
                            @foreach (var item in Enum.GetValues<AnimalSex>())
                            {
                                if (@item == AnimalSex.Male)
                                {
                                                    <div class="form-check me-4">
                                                        <input class="form-check-input " type="radio" asp-for="Sex" id="female" value="@Convert.ToInt32(item)" checked />
                                        @*<label class="form-check-label" asp-for="@item"></label>*@
                                        @Html.Label(item.ToString())
                                                    </div>
                                }
                                else
                                {
                                                    <div class="form-check me-4">
                                                        <input class="form-check-input " type="radio" asp-for="Sex" id="female" value="@Convert.ToInt32(item)" />
                                        @*<label class="form-check-label" asp-for="@item"></label>*@
                                        @Html.Label(item.ToString())
                                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" href="@Routes.Dashboard.Animals.Groups.FullPath">Cancel</a>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
<script>

    $(window).on('load', function () {
        $('#addAnimalModal').modal('show');
    });
</script>
}