@model CrudViewModel<ProductExpenseDto>

<div class="   p-2  col-ms-12  my-0 mt-2  rounded ml-2 needs-validation " id="table">
    <div class="col-sm-12  ">

        <div class=" mt-3 bg-light table-rsponsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar" id="">
            <table class="table table-hover table-responsive table-bordered   table-striped  " id="sortTable">
                <thead>
                    <tr class="header  bg-fixed " style="border-bottom:2px #5C5C5C solid;">
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(i => i.First().Id)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(t => t.First().Type)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.First().Price)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.First().SpentOn)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.First().CreatedAt)</th>
                        <th class="fw-bold align-middle">@Html.DisplayNameFor(p => p.First().ModifiedAt)</th>
                        <th style="width:20px;" class="fw-bold align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model!)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Type</td>
                            <td>@item.Price</td>
                            <td>@item.SpentOn.Id</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.ModifiedAt</td>
                            <td class="align-middle center">
                                <div class=" dropdown">
                                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        @Icon.Bars.Render()
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Lands.Expenses.Update)/@item.Id">
                                                Update @Icon.Pen.Render()
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item justified-content" href="@(Routes.Dashboard.Lands.Expenses.Delete)/@item.Id">
                                                Delete @Icon.TrashCan.Render()
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>