@model SeasonDto

@{
    ViewData["title"] = "Delete Season Page";
}
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>Confirm Deletion Proccess</h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr>
                    <td>@Html.DisplayNameFor(i => i.Id)</td>
                    <td>@Model?.Id</td>
                </tr>
                <tr class="">
                    <td>@Html.DisplayNameFor(m => m.Name)</td>
                    <td>@Model?.Name</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(s => s.StartsAt)</td>
                    <td>@Model?.StartsAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.EndsAt)</td>
                    <td>@Model?.EndsAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.CreatedAt)</td>
                    <td>@Model?.CreatedAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.ModifiedAt)</td>
                    <td>@Model?.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger" href="@(Routes.Dashboard.Lands.Seasons.DeletePost)/@Model!.Id">Confirm</a>
            <a onClick="history.go(-1); return false;" class="btn btn-link   mx-2 text-decoration-none" style="background-color:#DCEEFB">Cancel</a>
            @*<a class="btn btn-primary btn-rounded mx-3" href="@Routes.Dashboard.Lands.Lands.FullPath">Back</a>*@
        </div>
    </div>
</div>