@using APSS.Web.Dtos
@model APSS.Web.Dtos.QuestionDto
<div class="container-fluid  mt-3    ">
    <div class="row d-flex ">
        <div class="col-xl-7  col-md-9 col-12 border rounded shadow-sm  p-2">
            <div class="d-flex  justify-content-center pb-4 pt-4">
                <div class=""> <h3 class="text-decoration-underline "> Add Question </h3></div>
            </div>
            <form class="" method="post" asp-action="AddQuestion">

                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6">
                <label asp-for="QuestionType"></label>

            <select asp-for="QuestionType"
            asp-items="Html.GetEnumSelectList<QuestionTypeDto>()"
            class="form-control" id="multiple">
            </select>
          </div>
                   
            <div class="col-6">
             <label asp-for="IsRequired"></label>
             <input type="checkbox" asp-for="IsRequired" />
          </div>
                </div>
                <div class=" mt-4">
                    <span class="text-danger">*</span>
                    <label asp-for="Text" class="form-label"></label>
                    <input type="text"  class="form-control" asp-for="Text"  aria-label="Text input with dropdown button">
                </div>
                <span asp-validation-for="Text" class="text-danger"></span>
                                     <div class="row d-flex justify-content-between">
}
                        <!--1-->
                    <div class=" col-6" id="box1">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection one </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                  
                    <!--2-->
                    <div class=" col-6" id="box2">
                        <div class=" form-group" id="">
                            <label  class="form-label" >Selection Two </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                         <!--3-->
                         <div class=" col-6" id="box3">
                        <div class=" form-group" id="">
                            <label  class="form-label" >Selection three  </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" >
                        </div>
                    </div>
                   
                         <!--4-->
                    <div class=" col-6" id="box4">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection Four </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>

                         <!--5-->
                    <div class=" col-6" id="box5">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection five </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                         <!--6-->
                    <div class=" col-6" id="box6">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection six </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                         <!--7-->
                    <div class=" col-6" id="box7">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection seven </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                         <!--8-->
                    <div class=" col-6" id="box8">
                        <div class=" form-group" id="">
                            <label  class="form-label" > Selection Eghit </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                    
                   
                
                   </div>

                <div class="mt-4"></div>
                <button class="btn btn-primary" asp-action="AddQuestion" asp-controller="َQuestion"><i class="fa-solid fa-plus"></i>Add</button>
               <button class="btn btn-danger mt-4 mx-1" asp-controller="Question" asp-action="GetQuestionsSurvey"><i class="fa-solid fa-share mx-2"></i><span>Cancel</span>  </button>

            </form>
        </div>
    </div>
</div>

<script>
      const el = document.getElementById('multiple');

    const box1 = document.getElementById('box1');
    const box2=document.getElementById('box2');
    const box3=document.getElementById('box3');
    const addicon=document.getElementById('AddIcon');
    const box4 = document.getElementById('box4');
    const box5=document.getElementById('box5');
    const box6=document.getElementById('box6');
    const box7 = document.getElementById('box7');
    const box8=document.getElementById('box8');
     var counter=0;
    el.addEventListener('change', function handleChange(event) {
      if (event.target.value === '1') {
        box1.style.display = 'block';
        box2.style.display= 'block';
        box3.style.display= 'block';
        addicon.style.display='block';
        counter=3;

      } else {
          box1.style.display = 'none';
          box2.style.display= 'none';
          box3.style.display= 'none';
          addicon.style.display='none';
          box4.style.display='none';
          box5.style.display='none';
          box6.style.display='none';
          box7.style.display='none';
          box8.style.display='none';
          counter=0;
      }
    });
addicon.addEventListener('click', function handleClick(event) {
    counter = counter + 1;

    if (counter == 1) {
        box4.style.display = 'block';
    }
    else if (counter == 2) {
        box5.style.display = 'block';
    }
    else if (counter == 3) {
        box6.style.display = 'block';
    }
    else if (counter == 4) {
        box7.style.display = 'block';
    }
    else if (counter == 5) {
        box8.style.display = 'block';
        addicon.style.display = 'none';
    }

    else {
        box4.style.display = 'none';
        box5.style.display = 'none';
        box6.style.display = 'none';
        box7.style.display = 'none';
        box8.style.display = 'none';
        addicon.style.display = 'none';
        counter = 0;
    }

});
</script>