@model APSS.Web.Dtos.FamilyDto

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>تأكيد حذف العائلة</h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th>@Html.DisplayNameFor(f=>f.Id)</th>
                    <td> @Model.Id</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(f=>f.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(f=>f.LivingLocation)</th>
                    <td> @Model.LivingLocation</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(f=>f.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger btn-rounded  " asp-route-Id="@Model.Id" asp-controller="Family" asp-action="DeleteFamily">تأكيد</a>
            <a class="btn btn-primary btn-rounded mx-3" asp-controller="Family" asp-action="GetFamilies">رجوع</a>
        </div>

        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
</div>