@model IEnumerable<FamilyDto>

@{
    ViewData["Title"] = "Families";
}

<partial name="_PupolationNavBar" />
<div class="aling" id="loader"></div>
<div class="p-2 col-ms-12  my-0 mt-2 rounded ml-2" id="table">

    <form class="row d-flex justify-content-between d-inline mb-3" asp-controller="AnimalGroup" asp-action="Index" method="post">
        <div class=" mb-3 col-sm  d-flex">
            <div class="input-group">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            <input type="search" class="form-control" id="search" placeholder="Search..." name="searchString" onkeyup="searchTable()" />
        </div>
        </div>
        <div class="col-sm-2 col-lg-1 mb-2">

            <select class="form-select" id="searchby">
                <option selected>20</option>
                <option value="1">40</option>
                <option value="2">80</option>
                <option value="3">100</option>
            </select>
        </div>
        <div class="col-sm mb-3">

            <select class="form-select" id="searchby" name="searchBy">
                <option selected>Search By </option>
                <option value="1">@Html.DisplayNameFor(f=>f.Id)</option>
                <option value="2">@Html.DisplayNameFor(f=>f.Name)</option>
                <option value="3">@Html.DisplayNameFor(f=>f.LivingLocation)</option>
                <option value="4">@Html.DisplayNameFor(f=>f.User)</option>
            </select>
        </div>
        <div class="col-sm d-flex d-inline mb-3">
           
            <a class="btn btn-primary" role="button" asp-controller="Family" asp-action="AddFamily">
                <i class="fa-solid fa-plus"></i>
                Family
            </a>
        </div>
        </form>

    <div class="col-sm-12  ">
         @if (ViewBag.SearchResult != null)
        {
            <span class="text-danger">@ViewBag.SearchResult</span>
        }
        <div class="mt-3 bg-light table-rsponsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered table-striped" id="sortTable">

                <thead class="table-light">
                    <tr class="header  bg-fixed " style="border-bottom:2px #5C5C5C solid;">
                        <th   class=" fw-bold align-middle">@Html.DisplayNameFor(f=>f.Id)</th>
                        <th   class=" fw-bold align-middle">@Html.DisplayNameFor(f=>f.Name)</th>
                        <th   class=" fw-bold align-middle">@Html.DisplayNameFor(f=>f.LivingLocation)</th>
                        <th   class=" fw-bold align-middle">@Html.DisplayNameFor(f=>f.User)</th>
                        <th style="width:20px;" class="fw-bold align-middle"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.LivingLocation</td>
                            <td>@item.User.Name</td>

                            <td class="align-middle center">

                                <div class=" dropend">
                                    <a class="" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-controller="Family" asp-action="FamilyDetails" asp-route-Id="@item.Id"><div class="d-flex justify-content-between"> <span>Details</span>  <span><i class="fa-solid fa-info"></i> </span> </div> </a></li>
                                        <li><a class="dropdown-item" asp-controller="Family" asp-action="ConfirmDeleteFamily" asp-route-Id="@item.Id"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                        <li class="">
                                            <a class="dropdown-item" asp-controller="Individual" asp-action="AddIndividual" asp-route-Id="@item.Id">
                                                <div class="d-flex justify-content-between"> <span> Add Individual</span>  <span><i class="fa-solid fa-user-plus"></i> </span> </div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="dropdown-item" asp-controller="Family" asp-action="UpdateFamily" asp-route-Id="@item.Id">
                                                <div class="d-flex justify-content-between"> <span> Edit </span>  <span><i class="fa-solid fa-pen-to-square"></i> </span> </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
     <div class="d-flex container justify-content-center">
        <div class=" col-sm-12 px-sm-2 col-lg-4 col-md-4">
            <ul class="pagination d-flex justify-content-between">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function() {
            $(".sidebar ul li.active").removeClass('active');
            $("#populationManagement").addClass('active');
        });
        document.getElementById("nav-system-name").innerHTML = "Populatoin Management";
        document.getElementById("media-system-name").innerHTML = "Populatoin Management";

        $("#family").AddClass('actives');
        $("#individual").removeClass('actives');

    </script>
}