@model APSS.Web.Dtos.LandAndProductUnit

@await Html.PartialAsync("_dataNavBar")

<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row d-flex justify-content-between  d-inline mb-3 ">
        <div class=" mb-2 col-sm  d-flex">
            <button type="button" class="btn btn-primary search-btn">
                <i class="fas fa-search"></i>
            </button>
            <div class="form-outline w-100 search-input">
                <input type="search" class="form-control" id="search" onkeyup="searchTable()" />
                <label class="form-label">بحث</label>
            </div>
        </div>

        <div class="col-sm mb-2 ">

            <select class="form-select " id="searchby">
                <option selected>Choose search by</option>
                <option value="1">Name</option>
                <option value="2">Id</option>
                <option value="3">Address</option>
            </select>
        </div>
        <div class="col-sm d-flex   d-inline mb-2">
            <a class=" btn btn-primary mx-2" role="button" data-bs-toggle="offcanvas" data-bs-target="#land">
                <i class="fa-solid fa-plus"></i>
                Unit
            </a>
            <a class=" btn btn-primary " role="button" data-bs-toggle="offcanvas" data-bs-target="#land">
                <i class="fa-solid fa-plus"></i>
                Add
            </a>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header">
                        <th style="width:10%;" class=" text-capitalize align-middle">ID</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Name</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Address</th>
                        <th style="width:20%;" class=" text-capitalize align-middle">Area</th>
                        <th style="width:5%;" class=" text-capitalize align-middle">Function</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LandList)
                    {
                        <tr>
                            <td class="text-break text-capitalize align-middle">@item.Id</td>
                            <td class="text-break text-capitalize align-middle"> @item.Name</td>
                            <td class="text-break text-capitalize align-middle">@item.Address</td>
                            <td class="text-break text-capitalize align-middle">@item.Area</td>
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-route-Id="@item.Id" asp-controller="Land" asp-action="Details" ><div class="d-flex justify-content-between"><i class="fa-solid fa-info"></i> Details </div></a></li>
                                        <li><a class="dropdown-item" asp-route-Id="@item.Id" asp-controller="LandProduct" asp-action="add" ><div class="d-flex justify-content-between"><i class="fa-solid fa-plus mx-2"></i> Add Product </div></a></li>
                                        <li><a class="dropdown-item" asp-route-Id="@item.Id" asp-controller="Land" asp-action="Update" ><div class="d-flex justify-content-between"><i class="fa-solid fa-pen-to-square mx-2"> </i> Update </div></a></li>
                                        <li><a class="dropdown-item" asp-controller="Land" asp-action="Delete" asp-route-Id="@item.Id"><div class="d-flex justify-content-between"><i class="fa-solid fa-trash-can mx-2"></i> Delete </div></a></li>
                                        <li><a class="dropdown-item" href="#">Active</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="offcanvas offcanvas-end" id="land">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Land Add</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <partial name="_add.cshtml" model="@Model.landDto" />
    </div>
</div>
@section scripts{
<script>
     document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";
       $("#landProducts").removeClass('actives');
       $("#animalGroups").removeClass('actives');
    $("#animalProducts").removeClass('actives');
    $("#lands").addClass('actives');
</script>
}