@using static APSS.Web.Dtos.IndividualDto
@model APSS.Web.Dtos.IndividualDto

<div class="container-fluid px-3 py-3  mx-4 my-1">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4> Update Individual </h4>
        </div>
        <form class=" mt-3 " method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" mt-3">
                <span class="text-danger">*</span>
                <label class="form-label" asp-for="Name"></label>
                <input type="text"  asp-for="Name" value="@Model.Name"  class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>

            <!-- Text input for Address -->
            <div class=" mt-3">
                <span class="text-danger">*</span>
                <label class="form-label" asp-for="Address"></label>
                <input type="text" id="individual_Address" asp-for="Address" value="@Model.Address" class="form-control" />
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>

             <!-- Text input for Family -->
            <div class=" mt-3">
                <label class="form-label" asp-for="Family"></label>
                <input type="text"  asp-for="Family" value="@Model.Family.Name" class="form-control" />
            </div>
            <span asp-validation-for="Family.Name" class="text-danger"></span>

            <!-- Text input for job -->
            <div class=" mt-3">
                <label class="form-label" asp-for="Job"></label>
                <input type="text" id="individual_job" asp-for="Job" value="@Model.Job" class="form-control" />
            </div>

            <!-- Text input for phonenumber -->
            <div class=" mt-3">
                <label class="form-label" asp-for="PhonNumber"></label>
                <input type="tel" id="individual_phone" asp-for="PhonNumber" value="@Model.PhonNumber" class="form-control" />
            </div>

            <!-- Text input for NationalId -->
            <div class=" mt-3">
                <label class="form-label" asp-for="NationalId"></label>
                <input type="text" id="individual_NationalId" asp-for="NationalId" value="@Model.NationalId" class="form-control" />
            </div>


            <!-- Text input for DateOfBirth -->
            <div class=" datepicker input-group.date-p mt-3">
                <label class="form-label" asp-for="DateOfBirth"></label>
                <input type="date" id="sandbox-container-p" asp-for="DateOfBirth" value="@Model.DateOfBirth" class="form-control" />
            </div>

            <!-- Gender input -->
            <div class="form-check-inline mt-3">
                <span class="text-danger">*</span>
                <label asp-for="Sex"></label>
            @foreach (var value in Enum.GetValues(typeof(SexDto)))
            {
                @if (value.ToString() == SexDto.Female.ToString())
                {
                    <div class="mx-4 d-inline">
                    @Html.RadioButtonFor(m=>m.Sex,value,Model.Sex)
                    <label>Female</label>
                    </div>
                }
                else
                {  
                    <div class="mx-4 d-inline">
                    @Html.RadioButtonFor(m=>m.Sex,value,Model.Sex)
                    <label class="">Male</label>
                    </div>
                }
            }
            </div>
            <span asp-validation-for="Sex" class="text-danger"></span>

            <!-- Social Status input -->
            <div class="form-check mt-3">
                <label asp-for="SocialStatus"></label>

            <select asp-for="SocialStatus"
            asp-items="Html.GetEnumSelectList<SocialStatusDto>()"
            class="form-control">
            </select>
          </div>


            <!-- Submit button -->
            <div class="d-inline">
                <button class="btn btn-primary mt-4 mx-1" asp-controller="Individual" asp-action="UpdateIndividual"> 
                    <i class="fa-solid fa-pen-to-square fa-lg mx-2"></i><span>Edit</span> 
                </button>
                <button class="btn btn-danger mt-4 mx-1" asp-controller="Individual" asp-action="GetIndividuals">
                    <i class="fa-solid fa-share mx-2"></i><span>Cnacel</span>
                </button>
            </div>
        </form>
    </div>
</div>
