@model IndividualDto

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5> Confirm Delete Individual   </h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Id)</th>
                    <td> @Model.Id</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Address)</th>
                    <td> @Model.Address</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Family)</th>
                    <td> @Model.Family</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Job)</th>
                    <td> @Model.Job</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.PhonNumber)</th>
                    <td> @Model.PhonNumber</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.NationalId)</th>
                    <td> @Model.NationalId</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Sex)</th>
                    <td> @Model.Sex</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.SocialStatus)</th>
                    <td> @Model.SocialStatus</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.User)</th>
                    <td> @Model.User</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.DateOfBirth)</th>
                    <td> @Model.DateOfBirth</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                 <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="mb-4  mt-4">
            <form asp-area="Population" asp-route-Id="@Model.Id" asp-controller="Individuals" asp-action="DeleteIndividual">
            <button type="submit" class="btn btn-danger btn-rounded" >Confirm</button>
                <a onClick="history.go(-1); return false;" class="btn btn-link   mx-2" style="background-color:#DCEEFB">Cancel</a>
                </form>
            </div>
    </div>
</div>