@model APSS.Web.Dtos.IndividualDto

<div class="card mt-2">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex ">

            <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>Individual Information </h3>
        </div>
        <table class="table user-view-table m-0 t ">
            <tbody>
                <tr class="">
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Id)</th>
                    <td>@Model.Id </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Name)</th>
                    <td>@Model.Name  </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Address)</th>
                    <td> @Model.Address </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Job)</th>
                    <td> @Model.Job </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.PhonNumber)</th>
                    <td> @Model.PhonNumber </td>
                </tr>
               <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.NationalId)</th>
                    <td> @Model.NationalId </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Sex)</th>
                    <td> @Model.Sex</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.SocialStatus)</th>
                    <td> @Model.SocialStatus </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.DateOfBirth)</th>
                    <td> @Model.DateOfBirth </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.Family)</th>
                    <td> @Model.Family </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.User)</th>
                    <td> @Model.User </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.CreatedAt)</th>
                    <td>
                        @Model.CreatedAt
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.ModifiedAt)</th>
                    <td>
                        @Model.ModifiedAt
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <a class="btn btn-outline-dark mx-1 my-2" onclick="history.go(-1)"> <i class="fa-solid fa-arrow-left mx-2"> </i><span>Back</span> </a>
            <a class="btn btn-outline-primary mx-1 pr-1 my-2" asp-route-id="@Model.Id" asp-area="Population" asp-controller="Skills" asp-action="AddSkill"> <i class="fa-solid fa-plus mx-1 "> </i><span> Add Skill</span> </a>
            <a class="btn btn-outline-primary mx-1 pr-1 my-2" asp-route-id="@Model.Id" asp-area="Population" asp-controller="Voluntaries" asp-action="AddVoluntary"> <i class="fa-solid fa-plus mx-1 "> </i><span> Add Voluntary</span> </a>
            <a class="btn btn-outline-primary mx-1 pr-1 my-2" asp-route-id="@Model.Id" asp-area="Population" asp-controller="Individuals" asp-action="UpdateIndividual"> <i class="fa-solid fa-pen-to-square mx-1 "> </i><span>Edit</span> </a>
            <a class="btn  btn-outline-danger mx-1 my-2 " asp-controller="Individuals" asp-area="Population"  asp-action="ConfirmDeleteIndividual" asp-route-Id="@Model.Id"> <i class="fa-solid fa-trash-can mx-1"></i><span>Delete</span>  </a>
            <a id="III" class="btn btn-outline-dark my-2 text-decoration-none mx-1" asp-route-id="@Model.Id" asp-area="Population" asp-controller="Skills" asp-action="Index"><span class="">Skills </span> </a>
            <a id="III" class="btn btn-outline-dark my-2 text-decoration-none mx-1"  asp-area="Population" asp-controller="Voluntaries" asp-action="Index" asp-route-Id="@Model.Id"><span class="">Voluntaries </span> </a>
        </div>
    </div>
</div>

