@model LandDto
@{
    ViewData["Title"] = "Land Information";
}

<div class="card mt-2 border-0">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex">

            <h3>Land Information</h3>
        </div>
        <table class="table user-view-table m-0 t border">
            <tbody>
                <tr class="">
                    <td>@Html.DisplayNameFor(m => m.Name)</td>
                    <td>@Model?.Name</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.Address)</td>
                    <td>@Model?.Address</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.Area)</td>
                    <td>@Model?.Area</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.IsUsable)</td>
                    <td>@Model?.IsUsable</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.IsUsed)</td>
                    <td>@Model?.IsUsed</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.IsConfirmed)</td>
                    <td>@Model?.IsConfirmed</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.CreatedAt)</td>
                    <td>@Model?.CreatedAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.ModifiedAt)</td>
                    <td>@Model?.ModifiedAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(c => c.OwnedBy)</td>
                    <td>@Model?.OwnedBy.Name</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="table-responsive">
            <div class="mx-lg-2 mx-sm-1 mx-sm-1 my-1 d-flex justify-content-end">
                <a class="btn btn-outline-primary text-decoration-none mx-1 " href="@(Routes.Dashboard.Lands.Products.Add)?id=@Model!.Id"><span class="me-1">@Icon.Plus.Render() Add Product </span>  </a>
                <a class="btn btn-outline-primary mx-1 " href="@(Routes.Dashboard.Lands.Lands.Update.FullPath)?id=@Model!.Id">@Icon.Pen.Render()<span class="ms-1">Edit</span> </a>
                <a class="btn btn-outline-danger mx-1 " onclick="showDeletionModal('Are you sure you want to delete Land `@Model.Name`?', @Model.Id)">@Icon.TrashCan.Render()<span class="ms-1">Delete</span>  </a>
                <a class="btn btn-outline-primary text-decoration-none mx-1 " href="@(Routes.Dashboard.Lands.Products.byLand)?id=@Model!.Id"><span class="me-1">@Icon.Seeding.Render() Products</span>  </a>
            </div>
        </div>
    </div>
</div>
@await Html.DeleteDialogAsync()