@model APSS.Web.Dtos.AnimalProductDetailsDto

@{
    decimal counter = 0;
    foreach (var price in Model.expense!)
    {
        counter = counter + price.Price;
    }
}
<div class="card mt-2 border-0 mx-0">
    <div class="card-body">
        <div class="d-flex mb-2">
            <h4 class="">Animal Product information </h4>
        </div>

        <table class="table user-view-table border m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.Name)</th>
                    <td> @Model.Name</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.Quantity)</th>
                    <td> @Model.Quantity @Model.Unit.Name</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.UnitName)</th>
                    <td> @Model.Unit.Name</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.PeriodTaken)</th>
                    <td> @Model.PeriodTaken</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
                <tr>
                    <th class="align-middle">@Html.DisplayNameFor(m=>m.ModifiedAt)</th>
                    <td> @Model.ModifiedAt</td>
                </tr>
                <tr>
                    <th>Producer Animal</th>
                    <td> @Model.Producer.Name</td>
                </tr>
                <tr>
                    <th colspan="2" class="text-center" style="background-color:lightgray">@Html.DisplayNameFor(m=>m.expense)</th>
                </tr>
                @foreach (var item in Model.expense!)
                {
                }
                <tr>
                    <th> Total Price : @counter</th>
                    <td><a class="text-decoration-none" href="@Url.Action("Index","Expenses",new{userId=@Model.Producer.OwnedBy.Id,productId=@Model.Id})">More...</a> </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="d-inline">
            <div class=" d-inline d-flex justify-content-between w-100">
                <div class="">
                    <a class="btn btn-outline-dark   mx-1 my-2" onclick="history.go(-1)"><i class="fa-solid fa-arrow-left me-2"></i><span>Back</span>  </a>
                </div>
                <div class="">
                    <a class="btn btn-outline-primary mx-1 my-2 " asp-route-id="@Model.Id" asp-controller="Expenses" asp-action="Add"><i class="fa-solid fa-plus me-2"></i><span>Add Expense </span> </a>
                    <a class="btn btn-outline-primary mx-1 my-2" asp-route-Id="@Model.Id" asp-controller="Products" asp-action="Edit"> <i class="fa-solid fa-pen-to-square me-2"> </i><span>Edit</span> </a>
                    <a class="btn btn-outline-danger mx-1 my-2" asp-route-Id="@Model.Id" asp-controller="ProductS" asp-action="Delete"> <i class="fa-solid fa-trash-can me-2"></i><span>Delete</span>  </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });

        $(document).ready(function(){
         $(".scrollmenu a.MediaActive").removeClass('MediaActive');
         $("#animalProductMedia").addClass('MediaActive')

     });
       document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";

       $("#animalGroups").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
         $("#animalProducts").addClass('actives');
</script>
    }