@model IEnumerable<APSS.Web.Dtos.UserDto>

<div>
    @await Html.PartialAsync("_AccountNavBar.cshtml")
</div>

<!--the main account view-->

<div class="container-fluid  border p-2  col-ms-12  my-0 mt-2  rounded ml-2 animal-table" id="">

     <form class="row d-flex justify-content-between  d-inline mb-3 ">

        @*       <div class="input-group mb-1">

            <a href="#" class="input-group-text text-decoration-none search-btn" style="background-color:#1B73B3">

            <i class="fal fa-search " style="color:white;"></i>
            </a>

            <input type="search" class="form-control rounded" id="search" onkeyup="searchTable()">*@

        @*<button class="btn btn-outline-secondary dropdown-toggle border border-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By</button>
            <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>*@
        @*</div>*@
        <div class=" mb-2 col-sm  d-flex">
            <button type="button" class="btn btn-primary search-btn">
                <i class="fas fa-search"></i>
            </button>
            <div class="form-outline w-100 search-input">
                <input type="search" class="form-control" id="search" onkeyup="searchTable()" />
                <label class="form-label">بحث</label>
            </div>
        </div>

        <div class="col-sm mb-2 ">

            <select class="form-select " id="searchby">
                <option selected>Choose search by</option>
                <option value="1">Name</option>
                <option value="2">Id</option>
                <option value="3">Address</option>
            </select>
        </div>
        <div class="col-sm d-flex   d-inline mb-2">

            <a class=" btn btn-primary " role="button" data-bs-toggle="offcanvas" data-bs-target="#Adduser">
                <i class="fa-solid fa-plus"></i>
                Add
            </a>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-rsponsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header  bg-fixed border border-bottom fw-bold">
                        <th style="width:8%;" class=" fw-bold align-middle">@Html.DisplayNameFor(m=>m.Id)</th>
                        <th style="width:30%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.Name)</th>
                        <th style="width:20%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.AccessLevel)</th>
                        <th style="width:30%;" class="fw-bold align-middle">@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                        <th style="width:0%;" class="fw-bold align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="align-top">
                            @await Html.PartialAsync("_AddAccount.cshtml")
                            <td class="text-break text-capitalize align-middle">@item.Id</td>
                            <td class="text-break text-capitalize align-middle"> @item.Name</td>
                            <td class="text-break text-capitalize align-middle">@item.AccessLevel</td>
                            <td class="text-break text-capitalize align-middle">
                                @item.CreatedAt
                            </td>
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="AccountManagement" asp-action="UserDetials"><div class="d-flex justify-content-between"> <span>Details</span>  <span><i class="fa-solid fa-info"></i> </span> </div> </a></li>
                                        <li><a class="dropdown-item btn-link" asp-controller="AccountManagement" asp-action="DeleteUser"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                        <li><a class="dropdown-item btn-link" asp-controller="AccountManagement" asp-action="EditUser"><div class="d-flex justify-content-between"> <span>Update</span>  <span><i class="fa-solid fa-pen-to-square"></i> </span> </div></a></li>
                                        <li><a class="dropdown-item btn-link" asp-controller="AccountManagement" asp-action="UserAccounts"><div class="d-flex justify-content-between"> <span>Accounts</span>  <span><i class="fa-solid fa-users"></i> </span> </div></a></li>
                                        <li class="">
                                            <a class="dropdown-item text-decoration-none" role="button" asp-controller="AccountManagement" asp-action="AddAccount">

                                                <div class="d-flex justify-content-between"> <span>Add Account</span>  <span><i class="fa-solid fa-plus"></i> </span> </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--
    canvas for add user in parial view
-->
<div>
    @await Html.PartialAsync("_AddUser")
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
    document.getElementById("nav-system-name").innerHTML="ادارة الحسابات";
    document.getElementById("media-system-name").innerHTML="ادارة الحسابات";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#accounts").addClass('actives');

    });
    $(".scrollmenu ul li a").on('click',function(){
        $(".scrollmenu ul li a.actives").removeClass('actives');
        $("#accounts").addClass('actives');
    });
</script>
}