@model APSS.Web.Dtos.AccountDto
@await Html.PartialAsync("_requiredStyle.cshtml")

<div class="card my-3 shadow-0 ">
    <div class="card-body ">
        <div class="d-flex justify-content-start">
            <i class="fa-solid fa-caret-left fs-1 rotation-x" style="padding-left:2px"></i> <h4 class="rotation-x">Employee Information </h4>
        </div>
        <table class="table user-view-table m-0 ">
            <tbody>
                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Id) </th>
                    <td>  @Model.Id </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.HolderName) </th>
                    <td>  @Model.HolderName </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.PhoneNumber) </th>
                    <td>  @Model.PhoneNumber </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.NationalId) </th>
                    <td>  @Model.NationalId </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Job) </th>
                    <td>  @Model.Job </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.SocialStatus) </th>
                    <td>  @Model.SocialStatus </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.IsActive) </th>
                    @if (Model.IsActive)
                    {
                        <td>نشط<i class="fa-solid fa-check mx-1"></i> </td>
                    }
                    <td> غير نشط<i class="fa-solid fa-xmark mx-1"></i> </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.PermissionTypeDto.Permissions) </th>
                    <td>  @Model.PermissionTypeDto.Permissions </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.User.Name) </th>
                    <td>  @Model.User.Name </td>
                </tr>
            </tbody>
        </table>
        @* <div class="container mt-3">
            <div class="  d-flex justify-content-between">
            <div class="col-sm-2 flex-column d-flex form-group">
            <span>الصلاحيات</span>
            </div>
            <div class="col-sm-2 flex-column d-flex form-group">
            القراة <span class="fa fa-check text-primary p-1"></span>
            </div>
            <div class="col-sm-2 flex-column d-flex form-group">
            التعديل <span class="fa fa-check text-primary p-1"></span>
            </div>
            <div class="col-sm-2 flex-column d-flex form-group">
            الاضافة <span class="fa fa-check text-primary p-1"></span>
            </div>
            <div class="col-sm-2 flex-column d-flex form-group">
            الحذف <span><i class="fa-solid fa-xmark text-danger p-1"></i></span>
            </div>
            </div>
            </div>*@
    </div>
    <div class="mx-lg-4 mx-sm-2 ">
        <div cllass="d-inline mt-2 ">
            <a class="btn btn-outline-dark mx-1 my-2" onclick="history.go(-1)"> <i class="fa-solid fa-arrow-alt-circle-left mx-2"> </i><span>Back</span> </a>
            <a class="btn btn-outline-primary mx-1 my-2" asp-controller="Accounts" asp-action="EditAccount"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>Edit</span> </a>
            <a class="btn btn-outline-danger  mx-1 my-2" asp-controller="Accounts" asp-action="DeleteAccount"> <i class="fa-solid fa-trash-can mx-2"></i><span>Delete</span>  </a>
        </div>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="Employee Management";
      document.getElementById("media-system-name").innerHTML="Employee Management";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
        $("#userMedia").removeClass('actives');
         $("#accounts").addClass('actives');
         $("#accountMedia").addClass('actives');
</script>
}