@model IEnumerable<APSS.Web.Dtos.ProductExpenseDto>
@await Html.PartialAsync("_dataNavBar")
<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row gx-3 gy-2 align-items-center mb-3 ">
        <div class="col-sm-6">
            <label class="visually-hidden" for="search"></label>
            <div class="input-group">
                <a href="#" class="input-group-text " style="background-color:#1B73B3">
                    <div class=" ">
                        <i class="fal fa-search" style="color:white"></i>
                    </div>
                </a>
                <input type="text" class="form-control" placeholder="بحث ..." id="search" onkeyup="searchTable()">
                <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> -->
            </div>
        </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeSelect">Search By</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>إختر طريقة البحث</option>
                <option value="1">@Html.DisplayNameFor(t => t.Type)</option>
                <option value="2">@Html.DisplayNameFor(i => i.Id)</option>
                <option value="3">@Html.DisplayNameFor(p => p.Price)</option>
            </select>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header">
                        <th style="width:10%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(i => i.Id)</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(t => t.Type)</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">@Html.DisplayNameFor(p => p.Price)</th>
                        @*<th style="width:20%;" class=" text-capitalize align-middle">Spent On</th>*@
                        <th style="width:5%;" class=" text-capitalize align-middle">خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model!)
                    {
                        <tr>
                            <td class="text-break text-capitalize align-middle">@item.Id</td>
                            <td class="text-break text-capitalize align-middle">@item.Type</td>
                            <td class="text-break text-capitalize align-middle">@item.Price</td>
                            @*<td class="text-break text-capitalize align-middle">@item.SpentOn.</td>*@
                            <td class="align-middle center">
                                <div class=" dropend">
                                    <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="LandProductExpense" asp-action="Details" asp-route-id="@item.Id">التفاصيل</a></li>
                                        <li><a class="dropdown-item" asp-controller="LandProductExpense" asp-action="Update" asp-route-id="@item.Id">تعديل</a></li>
                                        <li><a class="dropdown-item" asp-controller="LandProductExpense" asp-action="Delete" asp-route-id="@item.Id">حذف</a></li>
                                        <li><a class="dropdown-item" href="#">تفعيل /إلغاء</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@section scripts{
<script>
     document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";
       $("#landProducts").removeClass('actives');
       $("#animalGroups").removeClass('actives');
    $("#animalProducts").removeClass('actives');
    $("#lands").addClass('actives');
</script>
}