@model APSS.Web.Dtos.ProductExpenseDto

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fa-1  " style="padding-left:4px"></i><h5>تأكيد حذف المنتج</h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">

                <tr class="">
                    <th>@Html.DisplayNameFor(m=>m.Type)</th>
                    <td> @Model.Type</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.Price)</th>
                    <td> @Model.Price</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m=>m.CreatedAt)</th>
                    <td> @Model.CreatedAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline mx-4">
            <a class="btn btn-danger  " asp-route-id="@Model.Id" asp-controller="ProductExpense" asp-action="DeleteExpense">تأكيد</a>
            <a onclick="history.go(-1); return false;" class="btn btn-link  mx-3" style="background-color:#DCEEFB">الغاء</a>
        </div>
    </div>
</div>